.box{
    width: 40%;
    height: 29.5625rem;
    margin: 4.25rem 30% 20rem 30%;
    fill: #E3EDF7;
    filter: drop-shadow(4px 2px 16px rgba(136, 165, 191, 0.54)) drop-shadow(-4px -2px 16px #FFF);

}

.login_close {
    float: none;
    text-align: right;
}
.close_btn {
    margin: 1rem 1.07rem 0 0 !important;
    background: linear-gradient(69deg, #F8AC75 2.63%, #E6660A 132.25%) !important;
    box-shadow: 4px 12px 32px 0px rgba(244, 102, 0, 0.42), -6px -6px 16px 0px rgba(255, 255, 255, 0.60) !important;
}
.fa-xmark {
    font-size: 1.2rem;
    color: #fff !important;
    background-color: transparent;
}

.content {
    display: block;
    text-align: center;
}

.content span {
    font-family: Gilroy-Bold;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    background-color: transparent;
}

.welcome {
    margin-bottom: 2.5rem;
}

.input_creds {
    width: 21.8125rem;
    height: 3.125rem;
    margin-bottom: 1rem;
    border-radius: 0.97063rem;
    background: #E3EDF7;
    box-shadow: 2.91187px 2.91187px 6.79437px 0px rgba(136, 165, 191, 0.48) inset, -2.91187px -2.91187px 6.79437px 0px #FFF inset;
}

input {
    border: none;
    width: 16.25794rem;
    font-family: Gilroy-Bold;
    font-size: 1.1875rem;
    line-height: 1.45594rem; /* 122.605% */
    letter-spacing: 0.02306rem;
    margin-left: 1.21rem;
}

.login_btn, .input_creds {
    display: inline-flex;
    align-items: center;
}

.show_password {
    display: inline-flex;
    width: 2.18388rem;
    height: 2.18388rem;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.625rem;
    background: #E3EDF7;
    box-shadow: 3.8825px 1.94125px 15.52999px 0px rgba(136, 165, 191, 0.48), -3.8825px -1.94125px 15.52999px 0px #FFF;
}

.login_btn {
    margin-top: 3rem;
    width: 21.8125rem;
    height: 3.625rem;
    border-radius: 0.95813rem;
    border: 1px solid #FFF;
    background: linear-gradient(69deg, #F8AC75 2.63%, #E6660A 132.25%);
    box-shadow: 4px 12px 32px 0px rgba(244, 102, 0, 0.42), -6px -6px 16px 0px rgba(255, 255, 255, 0.60);
    justify-content: center;
}

.login_btn span {
    color: #FFF;
    font-family: Gilroy-Medium;
    font-size: 1.09194rem;
    line-height: 1.94125rem; /* 177.778% */
    letter-spacing: 0.02181rem;
}

.forget_password span {
    font-family: Gilroy-Medium;
    font-size: 1.09194rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.94125rem; /* 177.778% */
    letter-spacing: 0.02181rem;
}

@media screen and (max-width: 992px) {

.box {
    width: 60%;
    margin: 4.25rem 20% 20rem 20%;
    
}
}

@media screen and (max-width: 652px) {

.box {
    width: 96%;
    margin: 4.25rem 2% 20rem 2%;
}
}