.box{
    width: 60%;
    height: 70.9375rem;
    margin: 4.25rem 20% 20rem 20%;
    fill: #E3EDF7;
    filter: drop-shadow(4px 2px 16px rgba(136, 165, 191, 0.54)) drop-shadow(-4px -2px 16px #FFF);

}

.content {
    display: block;
    text-align: center;
}

.content span {
    font-family: Gilroy-Bold;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    background-color: transparent;
}

.title {
    padding-top: 3rem;
    margin-bottom: 1rem;
}

.label {
    display: inline-flex;
    justify-content: left;
    width: 90%;
    margin-bottom: 0.5rem;
}
.label span{
    text-align: left;
    font-family: Gilroy-Bold;
    font-size: 1.25rem;
    line-height: 1.45594rem; /* 122.605% */
    letter-spacing: 0.02306rem;
}

.input_creds {
    width: 90%;
    height: 3.125rem;
    margin-bottom: 1rem;
    border-radius: 0.97063rem;
    background: #E3EDF7;
    box-shadow: 2.91187px 2.91187px 6.79437px 0px rgba(136, 165, 191, 0.48) inset, -2.91187px -2.91187px 6.79437px 0px #FFF inset;
}

input {
    border: none;
    width: 90%;
    font-family: Gilroy-Bold;
    font-size: 1.1875rem;
    line-height: 1.45594rem; /* 122.605% */
    letter-spacing: 0.02306rem;
    margin-left: 1.21rem;
}

.half_width {
    width: 44%;
}

.half_width input {
    width: 80%;
}

.left_half {
    margin-right: 2%;
}

.state_sel {
    display: inline-flex;
    width: 90%;
    margin-bottom: 1rem;
}

.state_sel label {
    display: inline-flex;
    margin-right: 10%;
}

.state_sel span {
    box-sizing: border-box;
    font-family: Gilroy-Medium;
    font-size: 1.09194rem;
    line-height: 1.94125rem; /* 177.778% */
    letter-spacing: 0.02181rem;
}

.state_sel input {
    margin: 0.4rem 0.5rem 1rem 0;
}

/* Radio button */

input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: #E3EDF7;
  
    font: inherit;
    color: #E3EDF7;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.15em solid #E3EDF7;
    border-radius: 50%;
    transform: translateY(-0.075em);
    fill: #E3EDF7;
    box-shadow: 2.91187px 2.91187px 6.79437px 0px rgba(136, 165, 191, 0.48) inset, -2.91187px -2.91187px 6.79437px 0px #FFF inset;
  
    display: grid;
    place-content: center;
}
  
input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #E6660A;
    /* Windows High Contrast Mode */
    background-color: #E6660A;
  }
  
input[type="radio"]:checked::before {
    transform: scale(1);
}

.review {
    width: 90%;
    height: 8.75rem;
    justify-content: center;
}

.review textarea {
    width: 90%;
    height: 90%;
    font-family: Gilroy-Medium;
    font-size: 1.09194rem;
    line-height: 1.94125rem; /* 177.778% */
    letter-spacing: 0.02181rem;
    border: none;
}

.rating_label {
    margin-top: 3rem;
}
.rating {
    display: inline-flex;
    width: 90%;
    justify-content: left;
}

.fa-star {
    /* margin: 0.2rem; */
    color:  rgba(176, 193, 207, 0.48)!important;
    font-size: 1.5rem;
}

.checked {
    color: #F8AC75 !important;
}

.submit_btn, .cancel_btn, .input_creds {
    display: inline-flex;
    align-items: center;
}

.submit_btn {
    margin-top: 4rem;
    width: 20%;
    height: 3.625rem;
    border: none;
    border-radius: 0.95813rem;
    background: linear-gradient(69deg, #F8AC75 2.63%, #E6660A 132.25%);
    box-shadow: 4px 12px 32px 0px rgba(244, 102, 0, 0.42), -6px -6px 16px 0px rgba(255, 255, 255, 0.60);
    justify-content: center;
}

.submit_btn span {
    color: #FFF;
    font-family: Gilroy-Medium;
    font-size: 1.09194rem;
    line-height: 1.94125rem; /* 177.778% */
    letter-spacing: 0.02181rem;
}

.cancel_btn {
    width: 20%;
    height: 3.625rem;
    border: none;
    border-radius: 0.95813rem;
    fill: #E3EDF7;
    filter: drop-shadow(3.8824970722198486px 1.9412485361099243px 15.529988288879395px rgba(136, 165, 191, 0.54)) drop-shadow(-3.8824970722198486px -1.9412485361099243px 15.529988288879395px #FFF);
    justify-content: center;
    margin-right: 50%;
}

.cancel_btn span {
    font-family: Gilroy-Medium;
    font-size: 1.09194rem;
    line-height: 1.94125rem; /* 177.778% */
    letter-spacing: 0.02181rem;
}

@media screen and (max-width: 992px) {

.box {
    width: 80%;
    margin: 4.25rem 10% 20rem 10%;
    
}
}

@media screen and (max-width: 652px) {

.box {
    width: 96%;
    height: 78.9375rem;
    margin: 4.25rem 2% 20rem 2%;
}

.half_width {
    width: 90%;
}

.cancel_btn {
    margin-right: 25%;
}

.half_width input {
    width: 90%;
}
}